<div>
    <h1 mat-dialog-title class="center"><b style="font-size: 20px;">Details</b></h1>
    <div mat-dialog-content>
        <mat-list role="list">
            <mat-list-item role="listitem"><b>ID: </b> {{data.id}}</mat-list-item><br>
            <mat-list-item role="listitem"><b>VORNAME: </b> {{data.vorname}}</mat-list-item><br>
            <mat-list-item role="listitem"><b>NACHNAME: </b> {{data.nachname}}</mat-list-item><br>
            <mat-list-item role="listitem"><b>EMAIL: </b> {{data.email}}</mat-list-item><br>
        </mat-list>
        <div class="center">
            <button class="cancel-button" mat-dialog-close>Zurück</button>
        </div>
    </div>
</div>